
server{
     port 4444
     host 127.0.0.1

     servername reda1
     limit 100000000000000
     root ../..

     location / (
          get on
          post off
          CGI_PHP /cgi-php
          auto_index on
          #index index.html
          upload_path /itsmeupload
          root ../../Desktop/www
     )

     location /dynamic (
          get on
          post on
          delete on
          CGI_PHP /
          auto_index on
          #index index.html
          upload_path /itsmeupload
          root ../../Desktop
     )
     
}


