server{
     port 5555
     host 127.0.0.1
     servername reda1
     root ../../Desktop/www
     limit 1000000000000

     
     location / (
          get on
          post on
          delete off
          auto_index on
          root ../../Desktop/www
          CGI_PHP /cgi-php
          CGI_PYTHON /cgi-python
          CGI_BASH /cgi-bash
          upload_path ../../Desktop/www/upload
     )
     location /ss (
          get on
          post off
          delete off
          auto_index on
          root ../../Desktop/webpages
     )
}
