
server{
     port 4444
     host 127.0.0.1

     servername reda1.com
     limit 100000000000000
     root ../../Desktop

     location / (
          get on
          post on
          delete on
          CGI_PHP /cgi-php
          CGI_PY /cgi-py
          auto_index on
          upload_path /
          root ../../Desktop/www
     )

     location /homepage (
          get on
          post on
          delete on
          CGI_PHP /cgi-php
          CGI_PY /cgi-py
          auto_index on
          index /homepage.html
          upload_path /
          root ../../Desktop/webpages
     )

     location /list (
          get on
          post on
          delete on
          CGI_PHP /cgi-php
          CGI_PY /cgi-py
          auto_index on
          upload_path /
          root ../../Desktop/www
     )
}

